.Grid {
display: grid;
grid-template-columns: repeat(5, 175px);
grid-template-rows: repeat(5, 150px);
width: 100vh;
height: 100vh;
gap: 20px 20px;
}

.button {
    background-color: transparent;
    border: none;
}