.Grid {
display: grid;
grid-template-columns: repeat(5, 20%);
grid-template-rows: repeat(5, 18%);
width: 100vh;
height: 100vh;
gap: 2% 2%;
}

.button {
    background-color: transparent;
    border: none;
}