.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: blue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App body {
  display: flex;
  flex-direction: row;
}

.Menu {
  margin: 0;
  width: 25%;
  flex-direction: column;
  border-right: 5px solid #282c34;
}

.Game {
  justify-content: center;
  margin: 0;
  width: 75%;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
